<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Orders</h3>
            <div *ngIf="orderList.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="20%">Total Price</th>
                        <th width="20%">Total Quantity</th>
                        <th width="20%">Date</th>
                    </tr>

                    <tr *ngFor="let tempOrder of orderList">
                        <td>
                           {{ tempOrder.orderTrackingNumber }} 
                        </td>
                        <td>
                            {{ tempOrder.totalPrice | currency: 'EUR' }} 
                         </td>
                         <td>
                            {{ tempOrder.totalQuantity }} 
                         </td>
                         <td>
                            {{ tempOrder.dateCreated | date: 'medium' }} 
                         </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="orderList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders.
            </div>
        </div>
    </div>
</div>