<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!--Customer-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="firstName.errors['required'] || firstName.errors['whitespaceValidator']">
                                        First Name is required
                                    </div>

                                    <div *ngIf="firstName.errors['minlength']">
                                        First Name must be at least 2 characters long
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="lastName.errors['required'] || firstName.errors['whitespaceValidator']">
                                        Last Name is required
                                    </div>

                                    <div *ngIf="lastName.errors['minlength']">
                                        Last Name must be at least 2 characters long
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="email.errors['required']">
                                        Email is required
                                    </div>

                                    <div *ngIf="email.errors['pattern']">
                                        Email must be a valid email address
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!--Shipping address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getCounties('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingCountry?.invalid && (shippingCountry?.dirty || shippingCountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingCountry.errors['required']">
                                        Country is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>County</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="county">
                                    <option *ngFor="let county of shippingAddressCounties" [ngValue]="county">
                                        {{ county.name }}
                                    </option>
                                </select>
                                <div *ngIf="shippingCounty?.invalid && (shippingCounty?.dirty || shippingCounty?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingCounty.errors['required']">
                                        County is required
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingCity?.invalid && (shippingCity?.dirty || shippingCity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingCity.errors['required'] || shippingCity.errors['whitespaceValidator']">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingCity.errors['minlength']">
                                        City must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="shippingStreet?.invalid && (shippingStreet?.dirty || shippingStreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingStreet.errors['required'] || shippingStreet.errors['whitespaceValidator']">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingStreet.errors['minlength']">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="shippingZipCode?.invalid && (shippingZipCode?.dirty || shippingZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingZipCode.errors['required'] || shippingZipCode.errors['whitespaceValidator']">
                                        Zip code is required
                                    </div>
                                    <div *ngIf="shippingZipCode.errors['minlength']">
                                        Zip code must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Checkbox if shipping address is same as billing address-->

                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingToBilling($event)">
                        <span class="au-checkmark"></span>Billing address same as shipping address
                    </label>
                </div>

                <!--Billing address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getCounties('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                                <div *ngIf="billingCountry?.invalid && (billingCountry?.dirty || billingCountry?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingCountry.errors['required']">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>County</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="county">
                                    <option *ngFor="let county of billingAddressCounties" [ngValue]="county">
                                        {{ county.name }}
                                    </option>
                                </select>
                                <div *ngIf="billingCounty?.invalid && (billingCounty?.dirty || billingCounty?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingCounty.errors['required']">
                                        County is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingCity?.invalid && (billingCity?.dirty || billingCity?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingCity.errors['required'] || billingCity.errors['whitespaceValidator']">
                                        City is required
                                    </div>
                                    <div *ngIf="billingCity.errors['minlength']">
                                        City must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingStreet?.invalid && (billingStreet?.dirty || billingStreet?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingStreet.errors['required'] || billingStreet.errors['whitespaceValidator']">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingStreet.errors['minlength']">
                                        Street must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="billingZipCode?.invalid && (billingZipCode?.dirty || billingZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingZipCode.errors['required'] || billingZipCode.errors['whitespaceValidator']">
                                        Zip code is required
                                    </div>
                                    <div *ngIf="billingZipCode.errors['minlength']">
                                        Zip code must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Credit card-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div id="card-element">

                    </div>
                    
                    <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1"></div>
                </div>

                <!--Order details-->
                <div class="form-area">
                    <h3>Review your Order</h3>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info" [disabled]="isDisabled">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>